{% extends "main.twig" %}
{% block title %}
Expediente local |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
  .vista{
      width: 100%;
      margin-top: var(--altura_navbar);
  }
  .row{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .expediente_container{
      color: var(--text_glass_color_dark);
  }
  .descargar_container{
    display: flex;
    justify-content: center;
  }
  .descargar_container a:hover{
    background-color: var(--button_hover);
    color: var(--text_color_light);
  }
</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
  <div class="expediente_container ">
    <div class="row">
      <h1>Detales del Expediente</h1>
    </div>
    <div class="row">
      <div class="col-md-6 cristal_background">
        <section>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Cliente: </b>{{expediente_local.nombres}} {{expediente_local.apellidos}}</li>
            <li class="list-group-item"><b>Número Expediente: </b>{{expediente_local.numero_expediente}}</li>
            <li class="list-group-item"><b>Tipo:</b> {{expediente_local.tipo}}</li>
            <li class="list-group-item"><b>Fecha de inicio:</b> {{expediente_local.created_at|date('d-m-Y')}}</li>
            <li class="list-group-item"><b>Estado:</b> 
              <select id="estado_expediente">
                <option value="Abandonado" {% if expediente_local.estado_expediente == 'Abandonado' %} selected {% endif %}>Abandonado</option>
                <option value="En curso" {% if expediente_local.estado_expediente == 'En curso' %} selected {% endif %}>En curso</option>
                <option value="Finalizado" {% if expediente_local.estado_expediente == 'Finalizado' %} selected {% endif %}>Finalizado</option>
              </select>
              <span id="estado_expediente_loader"></span>
            </li>
          </ul>
          <h2>Más información</h2>
          <textarea name="" id="" rows="3" readonly class="form-control">{{expediente_local.otros}}</textarea>
        </section>

        <hr>

        <section>
          <h2>Notas del expediente</h2>
          <button type="button" data-bs-toggle="modal" data-bs-target="#nuevaNotaExpediente" class="btn btn-danger form-control">Nueva Nota</button>

          {% for row, nota in notas_expediente %}
            <label for="{{nota.id_notas}}" class="float-end mt-2">Creado el: {{nota.created_at|date('d-m-Y')}}</label>
            <textarea name="" id="{{nota.id_notas}}" rows="3" readonly class="form-control">{{nota.descripcion}}</textarea>
          {% endfor %}
        </section>
      </div>
      <div class="col-md-6 cristal_background">
        <section class="row">
          <h2>Adjuntos del expediente</h2>
          <!-- Button trigger modal -->
          <button type="button" data-bs-toggle="modal" data-bs-target="#nuevoAdjuntoExpediente" class="btn btn-danger form-control">Nuevo Adjunto</button>
        </section>
        <section class="row">
          {% for row, adjunto in adjuntos_expediente %}
          <div class="col-lg-4 w-50">
            <div class="card cristal_background">
              <div class="card-body">
                <h6 class="card-title">{{adjunto.file_name}}</h6>
                <div class="descargar_container">                  
                  <a href="/uploads/adjuntos_expediente/{{adjunto.file_name_hash}}" download="{{adjunto.file_name}}" class="p-2 cristal_background_light"><i class="fa-solid fa-download"></i></a>
                </div>
              </div>
              <div class="card-footer">
                <small class="text-muted">Creado el: {{adjunto.created_at|date('d-m-Y')}}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="nuevoAdjuntoExpediente" tabindex="-1" aria-labelledby="nuevoAdjuntoExpedienteLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevoAdjuntoExpedienteLabel">Adjuntar Archivos al Expediente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="nuevoAdjuntosExpediente_form" enctype="multipart/form-data" method='POST' action="/expediente/adjuntos_expediente/add/{{expediente_local.numero_expediente}}">
          <input type="file" class="form-control" name="adjuntos_expediente[]" id="adjuntos_expediente" placeholder="Adjuntar Archivos" required multiple>
          <button type="submit" class="btn btn-primary form-control">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- END modal -->

<!-- Modal -->
<div class="modal fade" id="nuevaNotaExpediente" tabindex="-1" aria-labelledby="nuevaNotaExpedienteLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevaNotaExpedienteLabel">Nueva Nota del Expediente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="nuevaNotaExpediente_form" method='POST' action="/expediente/notas_expediente/add/{{expediente_local.numero_expediente}}">
          <div id="notas_container" >
              <textarea name="notas_expediente[]" rows="4" placeholder="Descripción de la nota" required class="form-control"></textarea>
          </div>
          <input type="button" value="Nueva Nota" class="btn btn-outline-info" id="btnNuevaNota">
          <button type="submit" class="btn btn-primary form-control">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- END modal -->

<div id="alert_container"></div>
{% endblock contenido %}

{% block scripts %}
<script>
  btnNuevaNota.onclick = ()=>{
    const textarea = document.createElement("textarea");
    textarea.placeholder="Nueva Nota"
    textarea.classList.add(['form-control'])
    textarea.name="notas_expediente[]"
    textarea.rows = 4
    textarea.setAttribute('required', true)
    notas_container.appendChild(textarea)
  }

  //actualiza el estado_expediente
  estado_expediente.onchange = ()=>{
    $.ajax({
      type: "put",
      url: "/expediente/estado_expediente/update/{{expediente_local.numero_expediente}}",
      data: {
        'estado_expediente' : estado_expediente.value
      },
      beforeSend: function(){
        estado_expediente_loader.innerHTML =
        `<div class="spinner-border spinner-border-sm text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>`
        estado_expediente.disabled = true;
        alert_container.innerHTML = ""
      },
      success: function (res) {
        let {alert} = res
        alert_container.innerHTML = alert
        setTimeout(() => {
          const alert = bootstrap.Alert.getOrCreateInstance('.alert')
          alert.close()
        }, 2000)   //? cerrar el alert
      },
      complete: function (){
        estado_expediente_loader.innerHTML = ""
        estado_expediente.disabled = false;
      }
    });
  }
</script>
{% endblock scripts %}

{# scripts anulados o no usados en esta vista #}

{% block scriptTooltip %}
{% endblock scriptTooltip %}
