{% extends "main.twig" %}
{% block title %}
Nuevo Cliente |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
  .vista{
      width: 100%;
      margin-top: var(--altura_navbar);
  }
  .row{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .expediente_container{
      color: var(--text_glass_color_dark);
  }
  .nuevoExpediente_container,
  #nuevoExpediente_form,
  #notas_container{
    display: flex;
    flex-direction: column;
  }
  input,
  select{
    cursor: pointer;
  }

</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
  <div class="expediente_container ">
    <section class="row buscar_cliente cristal_background">
      <h2>Buscar Cliente</h2>
      <form class="d-flex">
        <input class=" me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
      </form>
    </section>
    <section class="row ">
      <div class="col-md-6 my-auto cristal_background datos_cliente">
          <h1>Nuevo Expediente</h1>
          <h4>Cédula: {{cliente.cedula}}</h4>
          <h4>Nombres: {{cliente.nombres}} {{cliente.apellidos}} </h4>
      </div>
      <div class="col-md-6 cristal_background nuevoExpediente_container">
        <h5>Crear un Nuevo Expediente</h5>
        <form id="nuevoExpediente_form" enctype="multipart/form-data" method='POST' action="/expediente/add/{{cliente.cedula}}">
          <label for="tipo">Tipo de Expediente</label>
          <select class="form-select" name="tipo" id="tipo" required>
              <option selected disabled value="">Seleccionar</option>
              <option value="Civil">Civil</option>
              <option value="Penal">Penal</option>
              <option value="Contencioso">Contencioso</option>
          </select>

          <label for="fecha_inicio_expediente">Fecha de Inicio del Expediente</label>
          <input type="date" name="fecha_inicio_expediente" id="fecha_inicio_expediente" class="form-control" min="{{'now'|date('Y-m-d')}}" value="{{'now'|date('Y-m-d')}}" required>

          <label for="adjuntos_expediente">
              <h5>Adjuntar Archivos al Expediente</h5>
          </label>
          <input type="file" class="" name="adjuntos_expediente[]" id="adjuntos_expediente" placeholder="Adjuntar Archivos" required multiple>

          <label for="notas_expediente">
              <h5>Notas del Expediente</h5>
          </label>
          <div id="notas_container" >
              <textarea name="notas_expediente[]" rows="4" placeholder="Descripción de la nota" required></textarea>
          </div>
          <input type="button" value="Nueva Nota" class="btn btn-outline-info" id="btnNuevaNota">
          <hr>
          <input type="submit" class="btn btn-primary " value="Guardar Expediente">
        </form>

      </div>
    </section>
  </div>
</div>

{% autoescape "html" %}
    {{ responseMessage|raw }}
{% endautoescape %}

{% endblock contenido %}

{% block scripts %}
<script>
  btnNuevaNota.onclick = ()=>{
    const textarea = document.createElement("textarea");
    textarea.placeholder="Nueva Nota"
    //textarea.classList.add([''])
    textarea.name="notas_expediente[]"
    textarea.rows = 4
    textarea.setAttribute('required', true)
    notas_container.appendChild(textarea)
  }
</script>
{% endblock scripts %}


{# scripts anulados o no usados en esta vista #}
{% block scriptTooltip %}
{% endblock scriptTooltip %}

{% block jquery %}
{% endblock jquery %}