{% extends "main.twig" %}
{% block title %}
Expediente local |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
  .vista{
      width: 100%;
      margin-top: var(--altura_navbar);
  }
  .row{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .expediente_container{
      color: var(--text_glass_color_dark);
  }
  .descargar_container{
    display: flex;
    justify-content: center;
  }
</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
  <div class="expediente_container ">
    <div class="row">
      <h1>Detales del Expediente</h1>
    </div>
    <div class="row">
      <div class="col-md-6 cristal_background">
        <section>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Cliente: </b>{{expediente_local.nombres}} {{expediente_local.apellidos}}</li>
            <li class="list-group-item"><b>Número Expediente: </b>{{expediente_local.numero_expediente}}</li>
            <li class="list-group-item"><b>Tipo:</b> {{expediente_local.tipo}}</li>
            <li class="list-group-item"><b>Fecha de inicio:</b> {{expediente_local.created_at|date('d-m-Y')}}</li>
            <li class="list-group-item"><b>Estado:</b> {{expediente_local.estado}}</li>
          </ul>
          <h2>Más información</h2>
          <textarea name="" id="" rows="3" readonly class="form-control">{{expediente_local.otros}}</textarea>
        </section>

        <hr>

        <section>
          <h2>Notas del expediente</h2>
          <a href="/expediente/nota/add/{{expediente_local.numero_expediente}}" class="btn btn-danger form-control">Nueva Nota</a>
          {% for row, nota in notas_expediente %}
            <label for="{{nota.id_notas}}" class="float-end mt-2">Creado el: {{nota.created_at|date('d-m-Y')}}</label>
            <textarea name="" id="{{nota.id_notas}}" rows="3" readonly class="form-control">{{nota.descripcion}}</textarea>
          {% endfor %}
        </section>
      </div>
      <div class="col-md-6 cristal_background">
        <section class="row">
          <h2>Adjuntos del expediente</h2>
          <a href="/expediente/add/{{expediente_local.cedula}}" class="btn btn-danger form-control">Nuevo Expediente</a>
        </section>
        <section class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for row, adjunto in adjuntos_expediente %}
            <div class="col">
              <div class="card cristal_background">
                <div class="card-body">
                  <h6 class="card-title">{{adjunto.file_name}}</h6>
                  <div class="descargar_container">                  
                    <a href="/uploads/adjuntos_expediente/{{adjunto.file_name_hash}}" download="{{adjunto.file_name}}" class="p-2 cristal_background_light"><i class="fa-solid fa-download"></i></a>
                  </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Creado el: {{adjunto.created_at|date('d-m-Y')}}</small>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}


{# scripts anulados o no usados en esta vista #}
{% block jquery %}
{% endblock jquery %}

{% block scripts %}
{% endblock scripts %}

{% block scriptTooltip %}
{% endblock scriptTooltip %}
