{% extends "main.twig" %}
{% block title %}
Nuevo Cliente |
{{ parent() }}
{% endblock %}
{# bloque de estilos #}
{% block styles %}
<style>
    .vista{
        width: 100vw;
        margin-top: var(--altura_navbar);
      }
    .clientes_container{
        color: var(--text_glass_color_dark);
    }
    .buscar_cliente, .nuevo_cliente, .listar_clientes{
        margin: 10px 0;
    }
    .row{
        width: 100%;
    }
    
</style>
{% endblock styles %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="vista">
    <div class="clientes_container">
        <h1>Clientes</h1>
        <hr>
        <section class="row py-2 buscar_cliente cristal_background">
            <h2>Buscar Cliente</h2>
            <form class="d-flex">
                <input class=" me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
            </form>
        </section>
        
        <section class="row cliente">
            <div class="col-md-6 nuevo_cliente cristal_background">
                <h2>Nuevo Cliente</h2>
                <div>
                    <form action="/clientes/add" method="POST">
                        <input type="text" name="Cedula" id="" class="" placeholder="Cédula" required>
                        <input type="text" name="Nombres" id="" class="" placeholder="Nombres" required>
                        <input type="text" name="Apellidos" id="" class="" placeholder="Apellidos" required>
                        <input type="text" name="Direccion" id="" class="" placeholder="Direccion" required>
                        <input type="email" name="Telefonos" id="" class="" placeholder="Telefonos" multiple>
                        <input type="text" name="Correos" id="" class="" placeholder="Correos" multiple>
        
                        <input type="tel" name="telefono" id="telefono" class="" pattern="[0-9]{10}"
                  placeholder="Tu número de telefono" required multiple>
                        <input type="email" name="email" id="email" placeholder="Correo: email@example.com" class=""
                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" multiple>
        
                        <textarea name="otros" id="" rows="3" class="" placeholder="Mas detalles del cliente"></textarea>
                        <input type="submit" value="Guardar" class="btn btn-info ">
                    </form>
                </div>
                    {{ responseMessage }}
            </div>
            <div class="col-md-6 listar_clientes cristal_background">
                <h2>Mi lista de clientes</h2>
                <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cédula</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Dirección</th>
                                <th>Expediente</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row, cliente in clientes %}
                            <tr>
                                <td scope="row">{{row + 1}}</td>
                                <td>{{cliente.cedula}}</td>
                                <td>{{cliente.nombres}}</td>
                                <td>{{cliente.apellidos}}</td>
                                <td>{{cliente.direccion}}</td>
                                <td><a href="/expediente/{{cliente.cedula}}"><i class="bi bi-plus-circle"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock contenido %}
